<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="../assets/css/styles.css" />
	</head>
	<body>
		<header class="header">
			<img
				class="header__img"
				src="../assets/img/logo.png"
				alt="Platzi video logo"
			/>
		</header>

		<section class="login">
			<section class="login__container">
				<h2>Inicia sesión</h2>
				<form class="login__container--form" action="">
					<input
						aria-label="Correo"
						type="text"
						class="input"
						placeholder="Correo"
					/>
					<input
						aria-label="Contraseña"
						type="password"
						class="input"
						placeholder="Contraseña"
					/>
					<button class="button">Iniciar sesión</button>
					<div class="login__container--remember-me">
						<label>
							<input
								type="checkbox"
								id="cbox1"
								value="checkbox"
							/>Recuérdame
						</label>
						<a href="/">Olvidé mi contraseña</a>
					</div>
				</form>
				<section class="login__container--social-media">
					<div>
						<img
							src="../assets/img/google-icon.jpeg"
							alt="Google Icon"
						/>Inicia sesión con Google
					</div>
					<div>
						<img
							src="../assets/img/twitter-icon.png"
							alt="Twitter Icon"
						/>Inicia sesión con Twitter
					</div>
				</section>
				<p class="login__container--register">
					No tienes ninguna cuenta
					<a href="/">Regístrate</a>
				</p>
			</section>
		</section>
		<footer class="footer">
			<a href="/">Términos de uso</a>
			<a href="/">Declaración de privacidad</a>
			<a href="/">Centro de ayuda</a>
		</footer>
	</body>
</html>
