<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rendering & DOM Manipulation</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app" v-bind:style="{ background: `#${color}` }">
    <img v-bind:src="img" v-bind:alt="`${name} Icon`" v-on:mouseover="toggleShowPrices"
      v-on:mouseout="toggleShowPrices">

    <h1 v-bind:class="changePercent <= 0 ? 'red' : 'green'">
      {{ title }}
      <span v-if="changePercent > 0">👍🏼</span>
      <span v-else-if="changePercent < 0">👎🏼</span>
      <span v-else>🤞🏼</span>

      <!-- <span v-show="changePercent > 0">👍🏼</span>
      <span v-show="changePercent < 0">👎🏼</span>
      <span v-show='changePercent === 0 '>🤞🏼</span> -->
    </h1>

    <!-- <ul>
      <li v-for='(p, idx) in prices' v-bind:key='p'>
        {{ idx + 1 }} - {{ p }}
      </li>
    </ul> -->

    <h2>
      <button v-on:click="toggleShowPrices">
        {{ showPrices ? '🙉' : '🙈' }}
      </button>
    </h2>

    <input type="number" v-model="value"><br />
    <span>{{ convertedValue }}</span>

    <ul v-show="showPrices">
      <li class="uppercase" v-bind:class="{
          orange: p.value === price,
          red: p.value < price,
          green: p.value > price
        }" v-for='(p, idx) in pricesWithDays' v-bind:key='idx'>
        {{ p.day }}: {{ p.value }}
      </li>
    </ul>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>