/* SideMenu Styling */
#navigation .side-menu {
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}

#navigation .side-menu li {
  font-size: 18px;
  line-height: 2.4em;
  border-bottom: dotted 1px #ddd;
}

#navigation .side-menu li:last-child {
  border: none;
}

#navigation .side-menu li a {
  color: #333;
  text-decoration: none;
}

#navigation .side-menu li a:hover {
  color: coral;
}

/* Navbar */
#navigation .navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #4c6ca0;
  border-radius: 5px;
  overflow: auto;
}

#navigation .navbar li {
  float: left;
}

#navigation .navbar li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

#navigation .navbar li a:hover {
  background-color: #446190;
  color: #f4f4f4;
}
